body {
font-family: Arial, Helvetica, sans-serif;
margin: 0 auto; 
border-color: #9AA0A5;
text-align: left;
max-width: 540px;
background-color: #EEEEEE;
}

.temp-size {
font-size: 24px;
text-align: left;
}

h1 {
font-size: 24px;
}

ul {
list-style-type: none;
padding-left: 0;
font-size: 16px;
color: #9AA0A5;
font-weight: 500;
line-height: 20px;
margin-bottom: 5px;
;}

li #description {
  text-transform: capitalize;

}

.weather-app-wrapper {
  border: 0px #9AA0A5 solid;
  border-radius: 20px; 
  padding: 30px;
  margin-top: 50px;
  background-color: white;
}

.weather-units {
  text-decoration: none;
}

.weather-units .active {
  cursor: default;
  color: black;
  text-decoration: none;

}

.weather-units .active:hover {
  cursor: default;
  text-decoration: none;
}